<!DOCTYPE html>
<html>
<head>
    <title>PoliticalMashup KB ngramviewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PoliticalMashup KBKranten Ngramviewer: zoek en visualiseer woorden in twee eeuwen aan kranten">
    <meta itemprop="image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34569139-9', 'kbrkranten.politicalmashup.nl');
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <div id="search" class="jumbotron">
    <div class="container">
      <div id="logo" class="col-xs-12 col-md-12">
        <h1><a  class="ir" href="/">PoliticalMashup KB ngramviewer</a></h1>
      </div>
      <div id="search-bar" class="col-xs-12 col-md-8">
        <input id="query" type="text" class="form-control input-lg" placeholder="Type één of meer frases" />
        <div id="explanation">
          <h3>Hoe werkt het?</h3>
          <p>
            Zoek op een of meer frases (bestaande uit maximaal 5 woorden). Een grafiek toont hoe die frases in het <a href="http://kranten.kb.nl/" target="_blank">Historische Kranten corpus</a> van de Koninklijke Bibliotheek voorkomen.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="content" class="container">
    <div id="legend" class="col-xs-12 col-md-9">
      <ul></ul>
    </div>
    <div id="share" class="col-xs-12 col-md-3"></div>
    <div id="graph" class="col-xs-12 col-md-12"></div>
    <div id="about" class="col-xs-12 col-md-12">
      <div class="col-xs-6 col-md-6">
        <p class="lead">Wat is dit?</p>
        <p>
          Deze &#8220;ngramviewer&#8221; maakt het mogelijk om het gebruik van een woord of een frase (meerdere, opeenvolgende woorden) in Nederlandse kranten tussen 1840 en 1995 te visualiseren. Analoog aan de <a href="http://books.google.com/ngrams" target="_blank">Google Books Ngramviewer</a> en de <a href="http://ngram.politicalmashup.nl" target="_blank">PoliticalMashup Ngramviewer</a>, laat deze applicatie zien hoe termen die in het zoekveld ingevuld worden voorkomen in een corpus van (gedigitaliseerde) Nederlandse kranten.
        </p>
        <p>
          Daarnaast wordt er kan er door op een bolletje in de grafiek te klikken in dat jaar op de term gezocht worden in de <a href="http://kranten.kb.nl/" target="_blank">krantencollectie van de Koninklijke Bibliotheek</a>. Op deze manier kan de gebruiker context en toegang tot de data geboden worden.
        </p>
      </div>
      <div class="col-xs-6 col-md-6">
        <p class="lead">Data</p>
        <p>
          Het Databank Digitale Dagbladen project van de <a href="http://kb.nl" target="_blank">Koninklijke Bibliotheek</a> digitaliseert op grote schaal Nederlandse nationale, regionale en koloniale dagbladen, en stelt die beschikbaar op het internet. De data in deze applicatie is geanalyseerd en getransformeerd om deze applicatie te kunnen realiseren.
        </p>
        <p>
          De distributie van kranten over tijd in deze collectie is <a href="http://politicalmashup.nl/2013/03/de-omvang-van-het-kb-kranten-archief/" target="_blank">niet uniform</a>: er zijn veel meer artikelen (en dus woorden) van kranten die rond de Tweede Wereldoorlog zijn gepubliceerd beschikbaar. Om te voorkomen dat elke grafiek, ongeacht op welke ngrammen er gezocht is, er hetzelfde uitziet, wordt op de y-as de <i>relatieve frequentie</i> van een ngram in een jaar weergegeven in plaats van de <i>absolute frequentie</i>. De y-as toont dus het <b>percentage</b> dat het betreffende ngram uitmaakt van alle ngrammen <b>in dat jaar</b>.
        </p>
      </div>
      <div class="col-xs-6 col-md-6">
        <p class="lead">Wat zit er in de zoekmachine?</p>
        <p>
          De data die in deze applicatie gebruikt wordt is afkomsting van scans waar <a href="http://en.wikipedia.org/wiki/Optical_character_recognition" target="_blank">OCR</a> op toegepast is om tekst te detecteren. De kwaliteit van die tekstherkenning varieert sterk, omdat de conditie van de oorspronkelijke krant <a href="http://kranten.kb.nl/about/Productie_content" target="_blank">sterk varieert</a>. Zo is de drukkwaliteit van de originele krant vaak slecht, zijn kranten beschadigd geraakt of vergaan, of zijn kranten dusdanig strak ingebonden in verzamelbanden dat de &#8220;ingebonden&#8221; kant vervormd is, wat digitalisatie bemoeilijkt. Een deel van de gedigitaliseerde kranten is afkomstig van microfilm, waarmee de kwaliteit van de filmdrager een factor is.
        </p>
        <p>
          Deze variatie leidt tot een enorme variatie in het aantal termen: &#8220;groan- en meclzakken&#8221; zou bijvoorbeeld &#8220;graan- en meelzakken&#8221; moeten zijn. Bij analyse van de ruwe tekst vinden we daarom een helebooel termen die maar heel weinig voorkomen, en dus waarschijnlijk aan een OCR-fout toe te schrijven zijn. Daarom is de data gefilterd: een 1-gram moet minstens twee keer voorkomen in de hele collectie voordat hij opgenomen wordt in de index. 2- tot 5-grammen moeten minstens meer dan 5 keer voorkomen in minstens één jaar. Op deze manier worden de meeste fouten weggefilterd, en de overhead op de zoekmachine beperkt.
        </p>
        <p>
          De tabel hier onder geeft de grootte van het vocabulair <i>n</i> weer. Extra informatie, evenals de ruwe data, is bij <a href="http://data.politicalmashup.nl/ngrams/" target="_blank">PoliticalMashup</a> te vinden.
        </p>
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-striped">
            <tr><th><i>n</i></th><th>Unieke ngrammen</th></tr>
            {% for item in stats|dictsort %}
              <tr><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <p class="lead">Analyse</p>
        <p>
          Voor deze ngramviewer hebben we het <a href="http://kranten.kb.nl" target="_blank">Historische Kranten</a> corpus van de Koninklijke Bibliotheek geanalyseerd. Eerst is de tekst opgedeeld in zinnen, en in elke zin hebben we alle 1-, 2-, 3-, 4- en 5-grammen geëxtraheerd. De onderstaande zin zou bijvoorbeeld in losse woorden (&#8220;lorem&#8221;, &#8220;ipsum&#8221;, ...), 2-grammen (&#8220;lorem ipsum&#8221;, &#8220;ipsum dolor&#8221;, ...), tot en met 5-grammen (&#8220;lorem ipsum dolor sit amet&#8221;) worden opgedeeld.

          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </blockquote>

          Daarnaast hebben we leestekens verwijderd, zodat we &#8220;amet&#8221; en &#8220;amet,&#8221; niet als verschillende termen zien. Ook worden alle hoofdletters vervangen door kleine letters, zodat &#8220;Lorem&#8221; en &#8220;lorem&#8221; als dezelfde woorden gezien worden. Het nadeel is dat woorden waar hoofdletters een andere betekenis aanduiden (&#8220;Bakker&#8221; bijvoorbeeld) op één hoop worden gegooid.
        </p>
      </div>
      <div class="col-xs-6 col-md-6">
        <p class="lead">Totstandkoming</p>
        <p>Deze applicatie is ontwikkeld door <a href="http://dispectu.com/" target="_blank">Dispectu</a> en <a href="http://politicalmashup.nl/" target="_blank">PoliticalMashup</a> en is mede tot stand gekomen met de financiële bijdrage van de <a href="http://politicalmashup.nl/2012/10/politicalmashup-wint-nederlandse-dataprijs-2012/" target="_blank">Nederlandse Dataprijs 2012</a> van <a href="http://www.dans.knaw.nl/" target="_blank">DANS-KNAW</a>.</p>
        <p><img src="/static/img/logos.jpg" /></p>
      </div>
    </div>
  </div>

{% assets "js_all" -%}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
