html, body {
  height: 100%;
}

#logo a {
  width: 606px;
  height: 100px;
  background: url('../img/logo.png') no-repeat center center;
}

#search {
  height: 100%;
  background: #C0392B;
  margin-bottom: 0;
}

#search.searched {
  height: 195px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#search.searched.jumbotron {
  padding-top: 0;
}

#search.searched #explanation {
  display: none;
}

#search #search-bar {
  margin: 10% 0 0 0;
}

#search #stats {
  margin: 7.5% 0 0 0;
  font-size: 18px;
  color: #F2F2F2;
}

#search #search-bar input {
  width: 500px;
}

#search.searched #search-bar {
  margin: 5px 0 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#explanation {
  margin: 20px 0 0 0;
  color: #F2F2F2;
}

#explanation a {
  color: #F2F2F2;
  text-decoration: underline;
}

#content {
  display: none;
}

#legend {
  background-color: #eff0f2;
  border-radius: 6px;
}

#legend ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

#legend ul li {
  float: left;
  margin: 0 10px 5px 0;
  background-color: #dadbdd;
  color: #fff;
}

#legend ul li i {
  margin: 1px 0 0 0;
}

#share a {
  margin: 0;
  font-size: 17px;
}

#about {
  margin-top: 30px;
  float:left;
}

#about .about {
  margin-top: 10px;
}

#about p.lead {
  margin-top: 15px;
  margin-bottom: 5px;
}

/********** Graph **********/
#graph {
  width: 100%;
  float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: #e4e8ed;
    shape-rendering: crispEdges;
}

.context .axis text {
    fill: darkgray;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.terms circle {
    cursor: pointer;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
    stroke: #333;
    stroke-width: 1px;
    stroke-opacity: 0.3;
    stroke-dasharray: 3 3;
}

#footer p {
  padding: 10px 15px;
}

#pmlogo {
  padding: 10px;
}

#pmlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/********** Typeahead **********/
input#query {
  background: #fff;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border: 1px solid transparent;
    border-radius:6px;
    color: #999999;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}


/* Replace element with image */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
